.forecast-holder {
  text-align: center;
  padding: 15px;
  background: rgba(255, 239, 152, .6);
  border-radius: 8px;
  
  h2 {
    color: #33343a;
    margin-bottom: 30px;
  }

  .forecast-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .location-forecast {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffeca5;
    padding: 5px;
    border-radius: 5px;
  }
}